# **Módulo 44 - Introducción a la Clasificación**

En este módulo nos adentraremos en el fascinante mundo de la clasificación dentro del ámbito del machine learning superrvisado, con un enfoque especial en la regresión logística. Exploraremos los fundamentos y aplicaciones prácticas de esta técnica, destacando su utilidad en la predicción de eventos binarios:

### **Fundamentos de la Clasificación**

Introduciremos la clasificación como un modelo supervisado donde los datos están etiquetados, permitiendo predecir si una variable dependiente pertenece a una de dos clases. Aprenderemos a utilizar la regresión logística para modelar la probabilidad de eventos binarios.

### **Preparación y Análisis de Datos**

Profundizaremos en la preparación y análisis de conjuntos de datos para modelos de predicción, enfatizando la transformación de datos categóricos en numéricos, la imputación de datos nulos y el análisis de correlación para identificar multicolinealidades.

### **Creación y Evaluación de Modelos**

Nos centraremos en la creación de modelos de clasificación para predecir eventos, abordando el análisis bivariado, el feature engineering y el manejo de clases desbalanceadas. Evaluaremos los modelos mediante métricas como la matriz de confusión, precisión, recall, y el F1 Score.

____

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

os.chdir(r'C:\Users\danielortega\OneDrive - HOTELERA YALKUITO SA DE CV\Desktop\No Borrar Daniel\30 Data Analyst - Curso\50_Módulo_44_Introducción_Clasificación\Modulo_44_Introduccion_a_la_Clasificacion')
df = pd.read_csv(r'C:\Users\danielortega\OneDrive - HOTELERA YALKUITO SA DE CV\Desktop\No Borrar Daniel\30 Data Analyst - Curso\50_Módulo_44_Introducción_Clasificación\Modulo_44_Introduccion_a_la_Clasificacion\general_data_.csv')

In [2]:
df.sample(3)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
3258,27,No,Travel_Frequently,Research & Development,13,2,Life Sciences,1,3259,Female,...,0.0,Y,12,8,0,5.0,5,4,1,1
234,48,No,Travel_Rarely,Research & Development,8,1,Medical,1,235,Male,...,7.0,Y,13,8,1,21.0,3,3,0,2
3959,46,No,Travel_Rarely,Sales,3,4,Marketing,1,3960,Female,...,7.0,Y,13,8,0,24.0,3,2,2,2

# **Entendiendo el DataSet**

Descripción de las columnas del dataset.

- **Age** - Edad del empleado.
- **Attrition** - **Variable Dependiente**, indica si el empleado salió o no (yes/no).
- **BusinessTravel** - Definiciones de la frecuencia de viajes.
- **Department** - Unidad de negocio.
- **DistanceFromHome** - Distancia en millas a su casa.
- **Education** - Nivel educacional (#).
- **EducationField** - Campo de educación.
- **EmployeeCount** - 1.
- **EmployeeID** - ID del empleado.
- **Gender** - Masculino/Femenino.
- **JobLevel** - Nivel de trabajo.
- **JobRole** - Cargo.
- **MaritalStatus** - Estado civil (descripción).
- **MonthlyIncome** - Ingreso mensual
- **NumCompaniesWorked** - Número de empresas en las que trabajó antes.
- **Over18** - Si tiene más de 18 años.
- **PercentSalaryHike** - El último alza de salario.
- **StandardHours** - Cuántas horas estándar (#).
- **StockOptionLevel** - Nivel de entrega de ESOP (#).
- **TotalWorkingYears** - Años trabajados en la empresa (#).
- **TrainingTimeLastYear** - Número de capacitaciones del año anterior (#).
- **YearsAtCompany** - Años en la empresa (#).
- **YearsSinceLastPromotion** - Años desde su última promoción (#).
- **YearshWithCurrManager** - Años con su manager actual (#).

# **PROBLEMA A RESOLVER** - predecir si un empleado se va a ir de la empresa o no.
____